@model CameraBazaar.Data.Models.Camera

@{
    ViewData["Title"] = "Add";
}

<h2>Add</h2>

<h4>Camera</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Make" class="control-label"></label>
                <select asp-for="Make" asp-items="@ViewBag.Model" class="form-control"></select>
                <span asp-validation-for="Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinShutterSpeed" class="control-label"></label>
                <input asp-for="MinShutterSpeed" class="form-control" />
                <span asp-validation-for="MinShutterSpeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxShutterSpeed" class="control-label"></label>
                <input asp-for="MaxShutterSpeed" class="form-control" />
                <span asp-validation-for="MaxShutterSpeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinIso" class="control-label"></label>
                <select asp-for="MinIso" asp-items="@ViewBag.MinIso" class="form-control"></select>
                <span asp-validation-for="MinIso" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MaxIso" class="control-label"></label>
                <input asp-for="MaxIso" class="form-control" />
                <span asp-validation-for="MaxIso" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsFullFrame" /> @Html.DisplayNameFor(model => model.IsFullFrame)
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="VideoResolution" class="control-label"></label>
                <input asp-for="VideoResolution" class="form-control" />
                <span asp-validation-for="VideoResolution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LightMetering" class="control-label"></label>
                <select asp-for="LightMetering" asp-items="@ViewBag.LightMetering" text="dwada" class="form-control">
                    <option>Please select...</option>
                </select>
                <span asp-validation-for="LightMetering" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
