@model CarDealer.Models.Sale
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    @Model.Car.Make
</div>
<div>
    @Model.Car.Model
</div>
<div>
    @Model.Car.TravelledDistance
</div>
<div>
    @Model.Customer.Name
</div>