@model CarDealer.Models.ViewModels.CustomerViewModel

<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Total Spent Money</th>
        <th>Bought Cars Count</th>
    </tr>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.TotalSpentMoney</td>
        <td>@Model.BoughtCarsCount</td>
    </tr>
</table>
