form {
    width: 50%;
    margin: 0 auto;
}


/* Makes responsive fields. Sets size and field alignment.*/

input,
select {
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 80%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #FE9E00;
}

input[type=number],
input[type="date"],
textarea {
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 75%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #FE9E00;
}

textarea {
    resize: none;
}

input[type=submit] {
    margin-bottom: 20px;
    width: 80%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #FE9E00;
    background-color: #FEAE00;
    color: aliceblue;
    font-size: 15px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #FE7300;
}

body {
    background-color: #F9D977;
    font-family: 'Calibri';
}

/* Add a black background to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.logo {
    padding: 0px;
    padding-top: 4px;
}

.topnav a.right {
    float: right;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #FEAE00;
    color: white;
}

span.beer {
    color: #FEAE00;
}

h1 {
    font-size: 48px;
}

table {
    width: 100%;
    border: 1px solid #FEAE00;
    border-spacing: 0px;
    margin-top: 20px;
}

main th, td {
    width: 25%;
    padding: 15px;
    text-align: left;
}

td {
    vertical-align: bottom;
}

th {
    background-color: #FEAE00;
    color: white;
}

table img {
    width: 100px;
    height: auto;
}

main tr:nth-child(odd) {
    background-color: white;
}