@model CarDealer.Models.ViewModels.SaleDetailsView

<h2>Sale Details</h2>

<table class="table table-striped">
    <tr>
        <th>Car Make</th>
        <th>Car Model</th>
        <th>Customer Name</th>
    </tr>
    <tr>
        <td>@Model.Make</td>
        <td>@Model.Model</td>
        <td>@Model.CustomerName</td>
    </tr>
</table>