@model IEnumerable<CarDealer.Models.Supplier>
@{
    ViewBag.Title = "All";
}

<h2>All</h2>

@foreach (var supplier in Model)
{
    <dl class="dl-horizontal">
        <dd>
            @supplier.Id
        </dd>

        <dd>
            @supplier.Name
        </dd>

        <dd>
            @supplier.Parts.Count
        </dd>

    </dl>
}