@model IEnumerable<CarDealer.Models.Car>
@{
    ViewBag.Title = "All";
}

<h2>All</h2>

@foreach (var car in Model)
{
    <dl class="dl-horizontal">
        <dd>
            @car.Make
        </dd>
        
        <dd>
            @car.Model
        </dd>

        <dd>
            @car.TravelledDistance
        </dd>

    </dl>
}

